@import 'tailwindcss';

body {
  margin: 0;
  padding: 0;
}

@theme {
  --color-primary: #e0633c;
  --color-textColor: #d8d4d5;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(70px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
